<div class="track__container" *ngIf="track">
  <div class="track-art" (click)="playTrack()">
    <img class="track-image" src="/assets/images/default-album-art.png">
  </div>
  <div class="track-info" (click)="playTrack()">
    <p class="track-name">{{track.name}}</p>
    <p class="track-artist">{{ track.artist }}</p>
  </div>
  <div class="track-duration" (click)="playTrack()">
    <p>{{(track.duration * 1000) | date: 'mm:ss'}}</p>
  </div>
  <div class="track-options">
    <button mat-icon-button aria-label="Track Options" (click)="showOptions()">
      <mat-icon inline="true">more_vert</mat-icon>
    </button>
  </div>
</div>
