<div class="music-player__container">
  <div class="duration__container">
    <div class="progress">
      <mat-progress-bar mode="determinate" [value]="positionPercentage$ | async"></mat-progress-bar>
      <p>{{ ((currentPos$ | async) * 1000) | date: 'mm:ss' }} / {{ (((currentTrack$ | async )?.duration || 0) * 1000)  | date: 'mm:ss'}}</p>
    </div>
  </div>
  <div class="controls__container">
    <div class="track-info control-group">
      <div class="track-image">
        <img class="track-art" src="/assets/images/default-album-art.png">
      </div>
      <div class="track-details" *ngIf="currentTrack$ | async as track">
        <p class="track-name">{{ track.name }}</p>
        <p class="track-artist">{{ track.artist }}</p>
      </div>
      <!-- <div class="track-duration">
        <p>0:38</p>
      </div> -->
    </div>
    <div class="main-controls control-group">
      <div class="previous">
        <button mat-icon-button aria-label="Previous" (click)="prev()">
          <mat-icon inline="true">skip_previous</mat-icon>
        </button>
      </div>
      <div class="play-pause">
        <button mat-icon-button aria-label="Play" (click)="play()" *ngIf="!(playing$ | async)">
          <mat-icon inline="true">play_arrow</mat-icon>
        </button>
        <button mat-icon-button aria-label="Pause" (click)="pause()" *ngIf="(playing$ | async)">
          <mat-icon inline="true">pause</mat-icon>
        </button>
      </div>
      <div class="next">
        <button mat-icon-button aria-label="Next" (click)="next()">
          <mat-icon inline="true">skip_next</mat-icon>
        </button>
      </div>
    </div>
    <div class="secondary-controls control-group">
      <div class="shuffle">
        <button mat-icon-button aria-label="Shuffle" [class.shuffle-toggled]="shuffleToggled" (click)="toggleShuffle()">
          <mat-icon inline="true">shuffle</mat-icon>
        </button>
      </div>
      <div class="volume">
        <mat-icon *ngIf="volume >= 50">volume_up</mat-icon>
        <mat-icon *ngIf="volume < 50 && volume > 0">volume_down</mat-icon>
        <mat-icon *ngIf="volume === 0">volume_mute</mat-icon>
        <mat-slider color="primary" min="0" max="100" step="1" value="100" (input)="changeVolume($event)"></mat-slider>
      </div>
    </div>
  </div>
</div>
