@import "~src/styles.scss";

.music-player__container {
    background-color: white;
    // text-align: center;
    height: 100%;
    // padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.controls__container {
    display: flex;
}

.duration__container {
    display: flex;
    justify-content: center;
    margin-bottom: -0.25rem;

    & .progress {
        width: 100%;
        text-align: center;
        color: rgba($color: #000000, $alpha: 0.6);
    }
}


button {
    color: rgba($color: #000000, $alpha: 0.5) !important;
    font-size: 2rem !important;
}

.play-pause {
    margin-left: 1rem;
    margin-right: 1rem;
}

.shuffle {
    color: rgba($color: #000000, $alpha: 0.3);

    & button {
        font-size: 1.8rem !important;
        margin-right: 0.75rem;
        position: relative;
        top: 0.1rem;
    }
}

.shuffle-toggled {
    color: $primary !important;

    &:after {
        content: "\A";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $primary;
        display: inline-block;
        transform: translate(-18px, 10px);
    }
}

.control-group {
    display: flex;
    justify-content: center;
    flex: 1 1 33%;
}

.secondary-controls {
    justify-content: left;
}

.track-info {
    display: block !important;
    margin-top: -0.25rem;
}

.track-info div {
    justify-content: center;
    display: inline-block;
}

.track-details {
    padding: 0.25rem;
}

.track-image {
    flex: 1 1 10%;
    text-align: center;
    padding: 0.25rem;
}

.track-art {
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    top: 0.25rem;
}

.track-name {
    color: rgba($color: #000000, $alpha: 0.8);
    font-size: 0.9rem;
}

.track-artist {
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: 0.8rem;
}

p {
    margin-bottom: 0px;
}

.volume {
    color: rgba($color: #000000, $alpha: 0.5) !important;
    font-size: 1.8rem !important;

    & .mat-icon {
        top: 0.25rem;
        position: relative;
    }
}


@media (max-width: 620px) {
    .volume {
        display: none !important;
    }
}

@media (max-width: 450px) {

    .next,
    .previous,
    .secondary-controls {
        display: none !important;
    }

    .track-info {
        flex: 1 1 90%;
    }

    .main-controls {
        flex: 0 0 10%;
        justify-content: right;
        text-align: right;
        top: 0.25rem;
        position: relative;
    }
}
