@import '~src/styles.scss';

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $primary;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.spacer {
    flex: 1;
}

.draggable {
    width: 100%;
    -webkit-app-region: drag;
}

.buttons-right {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
}

.search {
    display: flex;
}

textarea {
    max-height: 0.75rem;
    resize: none;
}

.mat-form-field {
    max-height: 1rem;
}

.mat-form-field-underline {
    background-color: rgba($color: #fff, $alpha: 0.8);
}

.mat-form-field-label {
    color: rgba($color: #fff, $alpha: 0.8);
}
