.add-playlist__container {
    position: fixed;
    bottom: 0%;
    padding-bottom: 80px;
    right: 0;
    padding-right: 10px;

    & button {
        width: 50px !important;
        height: 50px !important;
    }
}
