/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$app-primary: mat-palette($mat-indigo);
$primary: mat-color($app-primary);

.toolbar .mat-form-field-underline {
    background-color: rgba($color: #fff, $alpha: 0.4) !important;
}

.toolbar .mat-form-field-label {
    color: rgba($color: #fff, $alpha: 0.8) !important;
}

.toolbar .mat-form-field-infix {
    border-top: none !important;
    margin-top: 0.25rem !important;
}

.toolbar .mat-input-element {
    caret-color: rgba($color: #fff, $alpha: 0.8) !important;
    // background-color: rgba($color: #fff, $alpha: 0.1);
}

.toolbar .mat-focused .mat-form-field-ripple {
    background-color: rgba($color: #fff, $alpha: 0.8) !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($color: #000, $alpha: 0.3);
    border-radius: 10px;
}

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #b30000;
// }
